.router-link-active{


}
.rounded-top{
    width: 200px;
    height: 50px;
}

.content{
    --background: url("../../../assets/img/bg.png");
   
}

.resp-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}

//  timer styles

// timer styles
h1{ 
    color: #396; 
    font-weight: 100; 
    font-size: 40px; 
    margin: 40px 0px 20px; 
  } 
   #clockdiv{ 
      font-family: sans-serif; 
      color: rgb(14, 10, 10); 
      display: inline-block; 
      font-weight: bold; 
      text-align: center; 
      font-size: 35px; 
  } 

  #clockdiv > div{ 
      padding: 5px; 
      border-radius: 3px; 
      background: rgb(202, 226, 221); 
      display: inline-block; 
  } 
  #clockdiv div > span{ 
      padding: 15px; 
      border-radius: 3px; 
    //   background: #00816A; 
      display: inline-block; 
  } 
  .smalltext{ 
      padding-top: 5px; 
      font-size: 16px; 
  } 