<ion-menu side="start">
        <ion-header>
          <ion-toolbar translucent class="pt-1">
            <ion-title>{{accountService.appUser}} </ion-title> <br>
        <h6> ₦ {{accountService.accountBalance | number}} </h6>
            <ion-thumbnail slot="start">
              </ion-thumbnail>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <app-menu></app-menu>
          </ion-list>
        </ion-content>
      </ion-menu>
      
      <div class="ion-page" main>
        <ion-header>
          <ion-toolbar>
            <ion-buttons  (click)="openMenu()" slot="start" class="p-1">
              <ion-menu-button color="success"></ion-menu-button>
            </ion-buttons>
            <ion-img class="rounded-top"  src="../../../assets/icon/Logoicon.png"></ion-img>
          </ion-toolbar>
        </ion-header>
        <ion-content class="">

            <!-- fab placed to the (vertical) center and start -->
 
          <!-- content area -->
          <div class="content m-0">
          <div class="resp-container game-over-section m-0">
              <ion-card class=" d-flex justify-content-center m-0">
                <div id="clockdiv"> 
                  <ion-row>
                      <ion-row>
                          <div> 
                              <span class="days" id="day">{{gameService.timeDays}} </span> 
                              <div class="smalltext">Days</div> 
                            </div>
                      </ion-row>
                         <ion-row>
                            <div> 
                                <span class="hours" id="hour">{{gameService.timeHours}} </span> 
                                <div class="smalltext">Hours</div> 
                              </div>
                         </ion-row>
                            <ion-row>
                                <div> 
                                    <span class="minutes" id="minute">{{gameService.timeMinute}} </span> 
                                    <div class="smalltext">Minutes</div> 
                                  </div>
                            </ion-row> 
                             <ion-row>
                                <div> 
                                    <span class="seconds" id="second">{{gameService.timeSeconds}} </span> 
                                    <div class="smalltext">Seconds</div> 
                                  </div> 
                             </ion-row>
                   
                   
                  </ion-row>

                  
                </div> 
              </ion-card>
 
              <ion-card *ngIf="gameService.gameLive" class="d-flex m-0 justify-content-center">
                <h1 class="text-dark text-center font-weight-bold">LIVE!</h1>
              </ion-card>
              

              <!-- <ion-card>
                <h1>LIVE...</h1>
              </ion-card> -->

              <ion-card *ngIf="!gameService.gameLive" class="m-0 d-flex justify-content-center">
                <iframe class="m-0" width="100%" height="100%"
                  src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
              </ion-card>
          </div>

            <div class="game-tip" *ngIf="!gameService.gameLive">
                <ion-card  class="green darken-2 m-0 "  rows="6" cols="20">
                  <ion-card-header class="text-center  green darken-4 text-white">GAME TIPS& FUN FACTS</ion-card-header>
                  <ion-card-content class="p-5">
                      <ion-text class="text-white" >  text content here , testing the fun fact...</ion-text>
                  </ion-card-content>
                </ion-card>
            </div>

            

            <div class=" row mt-4 game-live" *ngIf="gameService.gameLive">
                <div class="col d-flex justify-content-center affix">
                    <ion-button (click)="startGame()" color="success">START GAME</ion-button>
                </div>
                <div class="col d-flex justify-content-center affix">
                  <ion-button (click)="goToRecoreds()" color="success" >MY RECORD(S)</ion-button>
                </div>
            </div>
            
            <div *ngIf="low_balance"  class=" ">
              <div class="toast-container mb-5">
                <ion-chip>
                  <!-- <ion-icon name="hand" color="danger"></ion-icon> -->
                  <ion-label class="font-weight-bold text-danger"> YOUR ACCOUNT IS LOW! CLICK HERE  </ion-label> <br>
                  <ion-icon (click)="makePayment()" size="large" name="wallet" color="success"></ion-icon>
                </ion-chip>
              </div>
            </div>

            <h6 *ngIf="userService.networkDisconnet" class="text-danger"> CONNECTION LOST!</h6>
            <!-- <button (click)="loadBalnce()">load balance</button>
            <h1> {{accountService.accountBalance | number}} </h1> -->
          </div>
          <!-- end content area -->
        </ion-content>
      </div>
    
    <ion-menu-controller></ion-menu-controller>
    
    <script>
      function openMenu() {
        document.querySelector('ion-menu-controller')
          .open();
      }
    </script>