<ion-menu side="start">
    <ion-header>
      <ion-toolbar translucent class="pt-1">
        <ion-title>Menu</ion-title>

        <ion-thumbnail slot="start">
          </ion-thumbnail>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <app-menu></app-menu>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" main>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start" class="p-1">
          <ion-menu-button color="success"></ion-menu-button>
        </ion-buttons>
        <ion-img class="rounded-top"  src="../../../assets/icon/Logoicon.png"></ion-img>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding content img-fluid m-0">
     <!-- start content -->
     <ion-card class="text-center">
        <div class="col d-flex justify-content-center affix">
        <h1> 
              <ion-img class="image-top display-flex justify-content-center" 
              src="../../../assets/img/reading_icon.png"></ion-img>
            </h1> 
          </div>

          <div class=" d-flex justify-content-center">
          <p class="font-weight-bold">next game starts in</p>
          </div>
           
        <div id="clockdiv"> 
          <div> 
            <span class="days" id="day"></span> 
            <div class="smalltext">Days</div> 
          </div> 
          <div> 
            <span class="hours" id="hour"></span> 
            <div class="smalltext">Hours</div> 
          </div> 
          <div> 
            <span class="minutes" id="minute"></span> 
            <div class="smalltext">Minutes</div> 
          </div> 
          <div> 
            <span class="seconds" id="second"></span> 
            <div class="smalltext">Seconds</div> 
          </div> 
        </div> 
          
    </ion-card>
    <div class="col d-flex justify-content-center affix">
        <ion-button (click)="login()" color="success">start</ion-button>
    </div>

    <ion-card  class="green darken-2 "  rows="6" cols="20">
      <ion-card-header class="text-center  green darken-4 text-white">GAME TIPS& FUN FACTS</ion-card-header>
      <ion-card-content class="p-5">
          <ion-text class="text-white" >  text content here , testing the fun fact...</ion-text>
      </ion-card-content>
    </ion-card>
      
      <!-- end page content -->
    </ion-content>
    <app-footer></app-footer>

  </div>

<ion-menu-controller></ion-menu-controller>

<script>
  function openMenu() {
    document.querySelector('ion-menu-controller')
      .open();
  }
</script>