<ion-menu side="start">
    <ion-header>
      <ion-toolbar translucent class="pt-1">
        <ion-title>Menu</ion-title>

        <ion-thumbnail slot="start">
          </ion-thumbnail>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <app-menu></app-menu>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" main>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start" class="p-1">
          <ion-menu-button color="success"></ion-menu-button>
        </ion-buttons>
        <ion-img class="rounded-top"  src="../../../assets/icon/Logoicon.png"></ion-img>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding content img-fluid">
     
      

      <!-- <h1> content area</h1> -->
      <h2 class="text-center font-weight-bold" id="demo" ></h2>
      <!-- end page content -->
    </ion-content>
  </div>

<ion-menu-controller></ion-menu-controller>

<script>
  function openMenu() {
    document.querySelector('ion-menu-controller')
      .open();
  }
</script>