<ion-footer>
<ion-grid>
  <ion-row class="text-center">
    <ion-col>
        <ion-icon size="large" (click)="faq()" name="help-circle"></ion-icon>
      <!-- <p  class="font-weight-bold text-center">FAQ</p> -->
    </ion-col>
    <ion-col>
      <!-- <p  class="font-weight-bold text-center">CONTACT</p> -->
      <ion-icon name="megaphone" (click)="howItWorks()" size="large"></ion-icon>
    </ion-col>
    <ion-col>
      <!-- <p  class="font-weight-bold text-center">CONTACT</p> -->
      <ion-icon name="mail" size="large" (click)="contactUs()"></ion-icon>
    </ion-col>
    <ion-col>
      <!-- <p class="font-weight-bold text-center" >PRIVACY</p> -->
      <ion-icon  name="notifications-outline" (click)="privacy()" size="large"></ion-icon>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-footer>
