


<ion-content class="background">
      
  <ion-card class="scroll-content m-0 ">
    <ion-card-header class="text-white display-5 mt-5 font-weight-bold"> LOGIN</ion-card-header>
    <ion-card-content class=" content">
      <h6> how much do you know?</h6>
      <h6 class="font-weight-bold"> <strong color="sabi">show</strong> us </h6>
      <ion-list no-line>

        <form  #loginForm ngform="loginForm" name="form"  (submit)="login(loginForm)">

       
        <ion-item class="item">
            <ion-label position="floating">Phone</ion-label>
          <ion-input type="tel" inputmode="number" #number name="number" clearInput [(ngModel)]="model.number"
            autocomplete="off"  minlength="11"  required="true" [pattern]="phoneRegex" ></ion-input>
           <div *ngIf="loginForm.submitted && number?.errors" class="bg-danger text-white text-center">
              <small *ngIf="number?.errors.required" >Phone is required</small>
              <small *ngIf="number?.errors.pattern" >Phone number is not valid</small>
              <small *ngIf="number?.errors.minlength" >phone must be up to 11 digit.</small>
            </div>
          </ion-item>
 
        <ion-item class="item">
            <ion-label position="floating">Password</ion-label>
          <ion-input type="password" input #password name="password" minlength="6"
           [(ngModel)]="model.password" clearInput required="true"></ion-input>
           <div *ngIf="loginForm.submitted && password?.errors" class="text-danger text-center">
              <small *ngIf="password?.errors.required">password is required</small>
              <small *ngIf="password?.errors.minlength">password must be at least 6 </small>
            </div>
        </ion-item>
        <p>Forget login details?  <a>get help siging in</a> </p>

         <button (submit)="login(loginForm)" type="submit" class="btn-sm green darken-4 text-white"><ion-icon 
          name="log-in" class="mr-2 text-white"></ion-icon> login</button>

      <p>Or</p>
      <ion-chip color="facebook" class="primary-color-dark text-white">
         <ion-icon (click)="facebook();" name="logo-facebook" class="mr-2"></ion-icon> 
         login with facebook</ion-chip>
        </form>
      </ion-list>
     
      
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" color="light" (click)="register()"> Don't have account? sign up</ion-button>

</ion-content>