

.router-link-active{


}
.rounded-top{
    width: 200px;
    height: 50px;
}

 
    ion-card{
        background-image: url("../../../assets/img/mb-bg.png");
        height: 500px; /* You must set a specified height */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; 
    }
    .scroll-content{
        align-content:center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    ion-card.card{
        box-shadow: none;
        background: rgb(0,0,0,0.5);
        border: 5px;
    }
    a,p,
    ion-card-header.card-header{
        color: #007E33;
    }
    .content{
        margin-top: 100px;
    }

    ion-input{
        // margin-top: 10px;
        border: medium none;
       background: none;
    }
