.router-link-active{


}
.rounded-top{
    width: 200px;
    height: 50px;
}

.content{
    --background: url("../../../assets/img/bg.png");
   
}

.time_display{
    color: #2e8e44;
}
.image{
    width: 60%;
    height: auto;
}