<ion-header>
  <ion-toolbar>
    <ion-title>
      <!-- I sa -->
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <ion-card class="ion-padding">
    <ion-card-content>

      <h1> Welcome</h1>

      <p> how far can you go?</p>
    </ion-card-content>
  </ion-card>

</ion-content>
<!-- <ion-button expand="full">Full Button</ion-button> -->
<ion-button expand="block" (click)="login()" color="success"> GET STARTED   <ion-icon size="large" name="arrow-round-forward"></ion-icon></ion-button>


