
ion-icon {
    font-size: 64px;
  }

  .router-link-active{


  }
  .rounded-top{
      width: 200px;
      height: 50px;
  }


//   ion-card{
//     background-image: url("/../../assets/img/bg.png");
//     height: 500px; 
//     background-position: center; 
//     background-repeat: no-repeat; 
//     background-size: cover; 
// }
.scroll-content{
    align-content:center;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    text-align: center;
}

// timer styles
h1{ 
    color: #396; 
    font-weight: 100; 
    font-size: 40px; 
    margin: 40px 0px 20px; 
  } 
   #clockdiv{ 
      font-family: sans-serif; 
      color: rgb(14, 10, 10); 
      display: inline-block; 
      font-weight: bold; 
      text-align: center; 
      font-size: 34px; 
  } 
  #clockdiv > div{ 
      padding: 10px; 
      border-radius: 3px; 
      background: rgb(202, 226, 221); 
      display: inline-block; 
  } 
  #clockdiv div > span{ 
      padding: 15px; 
      border-radius: 3px; 
    //   background: #00816A; 
      display: inline-block; 
  } 
  .smalltext{ 
      padding-top: 5px; 
      font-size: 16px; 
  } 