<ion-menu side="start">
        <ion-header>
          <ion-toolbar translucent class="pt-1">
            <ion-title>Menu</ion-title>
    
            <ion-thumbnail slot="start">
              </ion-thumbnail>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <app-menu></app-menu>
          </ion-list>
        </ion-content>
      </ion-menu>
    
      <div class="ion-page" main>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start" class="p-1">
              <ion-menu-button color="success"></ion-menu-button>
            </ion-buttons>
            <ion-img class="rounded-top"  src="../../../assets/icon/Logoicon.png"></ion-img>
          </ion-toolbar>
        </ion-header>
        <ion-content class="content ion-padding m-0">
          <!-- content area -->
          <div>
                <ion-card class="text-center">
                    <ion-card-header class="font-weight-bild text-white green darken-4"> TOP STUDENT</ion-card-header>
                    <ion-card-content class="green darken-2 text-white">
                        <div class="col p-5 d-flex justify-content-center">
                        <ion-img class="wallet" src="../../../assets/icon/account.png"></ion-img>
                        </div>
                        <h1 class="text-center fint-weight-bold"> SIMON JERRY</h1> <br>
                        <h2 class="text-center fint-weight-bold"> TIME ELAPSED</h2>
                        <h2 class="text-center">00:01:12 </h2>
                    </ion-card-content>
                </ion-card>

                <div id="runner_up">
                    <ion-card>
                        <div class="runner-up">
                        <ion-list class="grey lighten-4 p-2">
                            <ion-row class="grey lighten-2 p-2">
                                <ion-col>
                                        <ion-icon color="black" size="large" name="person"></ion-icon>
                                </ion-col>
                                <ion-col>
                                        <h6 class="text-uppercase font-weight-bold">victor ikire</h6>
                                </ion-col>
                                <ion-col>
                                        <h6 class="time_display" >TIME ELAPSED : 00:00:18</h6>
                                </ion-col>
                            </ion-row>
                        </ion-list>
                        <ion-list class="grey lighten-4 p-2">
                            <ion-row class="grey lighten-2 p-2">
                                <ion-col>
                                        <ion-icon color="black" size="large" name="person"></ion-icon>
                                </ion-col>
                                <ion-col>
                                        <h6 class="text-uppercase font-weight-bold">ema james</h6>
                                </ion-col>
                                <ion-col>
                                        <h6 class="time_display" >TIME ELAPSED: 00:00:15</h6>
                                </ion-col>
                            </ion-row>
                        </ion-list>
                        <ion-list class="grey lighten-4 p-2">
                            <ion-row class="grey lighten-2 p-2">
                                <ion-col>
                                        <ion-icon color="black" size="large" name="person"></ion-icon>
                                </ion-col>
                                <ion-col>
                                        <h6 class="text-uppercase font-weight-bold">tom alaye</h6>
                                </ion-col>
                                <ion-col>
                                        <h6 class="time_display" >TIME ELAPSED : 00:00:14</h6>
                                </ion-col>
                            </ion-row>
                        </ion-list>
                        <ion-list class="grey lighten-4 p-2">
                            <ion-row class="grey lighten-2 p-2">
                                <ion-col>
                                        <ion-icon color="black" size="large" name="person"></ion-icon>
                                </ion-col>
                                <ion-col>
                                        <h6 class="text-uppercase font-weight-bold">james junior</h6>
                                </ion-col>
                                <ion-col>
                                        <h6 class="time_display" >TIME ELAPSED : 00:00:07</h6>
                                </ion-col>
                            </ion-row>
                        </ion-list>
                        <ion-list class="grey lighten-4 p-2">
                            <ion-row class="grey lighten-2 p-2">
                                <ion-col>
                                        <ion-icon color="black" size="large" name="person"></ion-icon>
                                </ion-col>
                                <ion-col>
                                        <h6 class="text-uppercase font-weight-bold">peter paul</h6>
                                </ion-col>
                                <ion-col>
                                        <h6 class="time_display" >TIME ELAPSED : 00:00:03</h6>
                                </ion-col>
                            </ion-row>
                        </ion-list>
                      
                        </div>
                    </ion-card>
                </div>
            </div>
          <!-- end content area -->

        </ion-content>
        <app-footer></app-footer>
      </div>
    
    <ion-menu-controller></ion-menu-controller>
    
    <script>
      function openMenu() {
        document.querySelector('ion-menu-controller')
          .open();
      }
    </script>