<ion-menu side="start">
        <ion-header>
          <ion-toolbar translucent class="pt-1">
            <ion-title>{{accountServive.appUser}} </ion-title> <br>
            <h6> ₦ {{accountServive.accountBalance | number}} </h6>
            <ion-thumbnail slot="start">
              </ion-thumbnail>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <app-menu></app-menu>
          </ion-list>
        </ion-content>
      </ion-menu>
    
      <div class="ion-page" main>
        <ion-header>
          <ion-toolbar>
            <ion-buttons (click)="menu.open()" slot="start" class="p-1">
              <ion-menu-button color="success"></ion-menu-button>
            </ion-buttons>
            <ion-img class="rounded-top"  src="../../../assets/icon/Logoicon.png"></ion-img>
          </ion-toolbar>
        </ion-header>
        <ion-content class="content ion-padding m-0" >
           <!-- fab placed to the top end -->
      <ion-fab vertical="top" horizontal="end" slot="fixed">
          <ion-fab-button  (click)="gotoGame()" color="light">
            <ion-icon  name="logo-game-controller-b"></ion-icon>
          </ion-fab-button>
        </ion-fab>
          <!-- content area -->
          <div>
              
                <div id="runner_up">
                    <ion-card>
                        <div class="runner-up" *ngFor="let item of accountServive.leaderboard$; index as i">
                        <ion-list class="grey lighten-4 p-2">
                            <ion-row class="grey lighten-2 p-2">
                                <ion-col>
                                        <ion-icon color="black" size="large" name="person"></ion-icon>
                                        <ion-chip  >POSITION :  {{i + 1}}  </ion-chip>
                                </ion-col>
                                <ion-col>
                                        <h6 class="text-uppercase font-weight-bold"> {{item.user}} </h6>
                                </ion-col>
                                <ion-col>
                                        <h6 class="time_display" >TIME ELAPSED  {{item.minutes}} min : {{item.seconds}} secs </h6>
                                </ion-col>
                            </ion-row>
                        </ion-list>
                      
                      
                      
                        </div>
                    </ion-card>
                </div>
            </div>
          <!-- end content area -->

        </ion-content>
        <app-footer></app-footer>
      </div>
    
    <ion-menu-controller></ion-menu-controller>
    
    <script>
      function openMenu() {
        document.querySelector('ion-menu-controller')
          .open();
      }
    </script>